$default_margin: 18px;
$default_padding: 18px;

.profile-main {
  padding: $default_padding;
  margin: $default_margin;
  height: 490px;
  width: 330px;
  border: 1px solid #c0c6cb;
  border-radius: 8px;
  box-shadow: 0px -1px 10px rgba(0, 21, 33, 0.1);
}

.dark-mode-switch {
  display: flex;
  margin: $default_margin;
  align-items: center;
}
